.book-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr .7fr;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    gap: 20px;
}

.book-detail-info {
    margin-left: 10px;
    max-width: 700px;
    border-left: 1px solid #d2d2d7;
    border-right: 1px solid #d2d2d7;
    padding-left: 20px;
    padding-right:20px;
}

.book-detail-info h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.book-detail-info p {
    margin-bottom: 10px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.book-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 300px;
}

.book-actions .btn {
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.book-actions .btn-primary:hover {
    background-color: green;
}

.book-actions .btn-secondary:hover {
    background-color: red;
}

.book-actions .btn-info:hover {
    background-color: lightblue;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .book-detail-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }

    .book-detail-info {
        margin-left: 0;
        border-left: none;
        border-right: none;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }

    .book-actions {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    .book-actions .btn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .book-detail-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }

    .book-detail-info {
        margin-left: 0;
        border-left: none;
        border-right: none;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }

    .book-actions {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    .book-actions .btn {
        width: 100%;
    }

    .book-list {
        flex-direction: column;
        overflow-x: visible;
    }

    .book-list .book-card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
