.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust based on your design */
    grid-gap: 20px;
    gap: 1rem;
    padding: 20px;
}
.body{
    padding-top: 68px;
}
.title{
    font-size: 50px;
    text-align: center;
}
@media (max-width:483px) {
    .body{
        padding-top: 82px;
    }
}