/* .heading {
    padding: 1rem 0;
    font-size: 3rem;
    text-align: center;
}
.swiper_container{
    display: grid;
    position: relative;
}
.swiper-slide {
    width: 25%;
    position: relative;
}

.swiper-slide-shadow-left, .swiper-slide-shadow-right {
    display: none;
}

.slider-controller {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controller .swiper-button-next {
    left: 58%;
    transform: translateX(-58%);
}

.slider-controller .slider-arrow {
background: #ffffff;
left: 42%;
transform: translateX(-42%);
filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-arrow{
font-size: 1rem;
color: #291334;
}

.slider-controller .slider-arrow::after {
content: '';
}

.swiper-pagination {
position: relative;
width: 15rem;
bottom: 1rem;
margin-top: 4rem;
}

.swiper-pagination .swiper-pagination-bullet {
filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
background: #291334;
}

@media (max-width: 500px) {
    .swiper-slide {
        height: 150%;
    }
}

@media (max-width: 990px) {
    .slider-controller .swiper-button-next {
        left: 70%;
        transform: translateX(-70%);
    }
    .slider-controller .swiper-button-prev {
        left: 30%;
        transform: translateX(-30%);
    }
}

@media (max-width: 450px) {
    .slider-controller .swiper-button-next {
        left: 80%;
        transform: translateX(-80%);
    }
    .slider-controller .swiper-button-prev {
        left: 20%;
        transform: translateX(-20%);
    }
} */
.slick-track {
    display: flex !important;
    
}
.slick-slide {
    height: inherit !important;
    display: flex !important;
    align-items: stretch;
    padding: 40px 20px;
    
}
.slick-slide > div {
    height: 100%;
}
